@model PaginatedResult<ExaminationSystem.MVC.ViewModels.DepartmentViewModels.DepartmentViewModel>

@{
	ViewData["Title"] = "Departments";
	var isBranchView = ViewBag.BranchId != null;
}

<style>
	.btn-icon {
		background-color: transparent;
		border: none;
		box-shadow: none;
		padding: 0;
		width: 36px;
		height: 36px;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.2s ease;
		border-radius: 50%;
	}

		.btn-icon:hover {
			background-color: rgba(0, 0, 0, 0.08);
		}

</style>

@section VendorStyles {
	<link rel="stylesheet" href="~/vendor/libs/sweetalert2/sweetalert2.css" />
	<link rel="stylesheet" href="~/vendor/libs/select2/select2.css" />
	<link rel="stylesheet" href="~/vendor/libs/&#64;form-validation/form-validation.css" />
	<link rel="stylesheet" href="~/vendor/libs/bootstrap-select/bootstrap-select.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

}

@section VendorScripts {

	<script src="~/vendor/libs/sweetalert2/sweetalert2.js"></script>
	<script src="~/vendor/libs/select2/select2.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/popular.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/bootstrap5.js"></script>
	<script src="~/vendor/libs/&#64;form-validation/auto-focus.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/dciccale/jquery-clearsearch/jquery.clearsearch.min.js"></script>
}

<div class="row mb-3">
	<input type="hidden" id="branchId" value="@(ViewBag.BranchId ?? "null")" />

	<div class="col-md-8">
		<div class="position-relative">
			<input type="text" id="departmentSearch" class="form-control pe-5" placeholder="Search by name or description..." />
			<button type="button" id="clearSearchBtn" class="btn position-absolute end-0 top-50 translate-middle-y me-2 p-0 border-0 bg-transparent d-none">
				<i class="bi bi-x text-muted fs-5"></i>
			</button>
		</div>
	</div>
	<div class="col-md-4 text-end">
		@if (isBranchView)
		{
			<a href="@Url.Action("Index", "Branches")" class="btn btn-primary w-100">
				<i class="ti ti-arrow-left"></i> Go Back to Branch List
			</a>
		}
		else
		{
			<button class="btn btn-primary w-100" id="addNewDepartmentBtn">
				<i class="ti ti-plus"></i> Add New Department
			</button>
		}
	</div>
</div>



<div id="department-list-container">
	@Html.Partial("~/Views/Departments/_DeptCardListPartial.cshtml", Model)
</div>

<div id="modalContainer"></div>


<script>

		$(document).ready(function () {
		let isBranchView = @(isBranchView.ToString().ToLower());



			// Department search
			$('#departmentSearch').on('input', function () {
				const val = $(this).val();
				$('#clearSearchBtn').toggleClass('d-none', val.length === 0);
				loadDepartments(val, 1);
			});

			$('#clearSearchBtn').on('click', function () {
				$('#departmentSearch').val('');
				$(this).addClass('d-none');
				loadDepartments('', 1);
			});

			let pageSize = 12;

					function getBranchId() {
		return $('#branchId').val();
	}


	function loadDepartments(search = '', pageNumber = 1) {
		$.get('/Departments/Index', {
			search: search,
			page: pageNumber,
			pageSize: pageSize,
			isPartial: true,
			branchId: getBranchId() 
		}, function (html) {
			$('#department-list-container').html(html);
			window.scrollTo({ top: 0, behavior: 'auto' });
		});
	}


				if (!isBranchView) {
				 loadDepartments();
						}



			$(document).on('click', '#pagination-container .page-link', function () {
				const pageClicked = parseInt($(this).data('page'));
				if (!isNaN(pageClicked)) {
					loadDepartments($('#departmentSearch').val(), pageClicked);
				}
			});




		// Add new department
		$("#addNewDepartmentBtn").on('click', function () {
			$.ajax({
				type: "GET",
				url: '@Url.Action("Add", "Departments")',
				success: function (data) {
					$('#modalContainer').html(data);
					$.validator.unobtrusive.parse('#editDepartmentForm');
					var modal = new bootstrap.Modal(document.getElementById('editDepartmentModal-0'));
					modal.show();
				},
				error: function () {
					alert("An error occurred while loading Add Department modal.");
				}
			});
		});

		// Edit department
		$(document).on('click', '.edit-department-btn', function () {
			var deptId = $(this).data("id");

			$.ajax({
				type: "GET",
				url: '@Url.Action("Edit", "Departments")/' + deptId,
				success: function (data) {
					$('#modalContainer').html(data);
					$.validator.unobtrusive.parse('#editDepartmentForm');
					var modal = new bootstrap.Modal(document.getElementById('editDepartmentModal-' + deptId));
					modal.show();
				},
				error: function () {
					alert("An error occurred while loading Edit Department modal.");
				}
			});
		});

		// Delete department
	$(document).on('click', '.delete-department-btn', function (e) {
		e.preventDefault();
		var deptId = $(this).data("id");

		Swal.fire({
			title: 'Are you sure?',
			text: "You won't be able to revert this!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#3085d6',
			cancelButtonColor: '#d33',
			confirmButtonText: 'Yes, delete it!'
		}).then((result) => {
			if (result.isConfirmed) {
				$.ajax({
					url: `/Departments/DeleteConfirmed/${deptId}`,
					type: 'POST',
					success: function (response) {
						if (response.success) {
							$(`#department-${deptId}`).remove();
							Swal.fire(
								'Deleted!',
								'Department has been deleted.',
								'success'
							);
						} else {
							Swal.fire(
								'Error!',
								response.message || 'Failed to delete department.',
								'error'
							);
						}
					},
					error: function () {
						Swal.fire(
							'Error!',
							'An error occurred while deleting the department.',
							'error'
						);
					}
				});
			}
		});
	});


	});


</script>
