@model ExaminationSystem.MVC.ViewModels.BranchViewModels.BranchEditViewModel

<style>

	.select2-container {
		z-index: 9999 !important;
	}

	.select2-search__field {
		background-color: white !important;
		color: black !important;
	}

	.modal-backdrop {
		z-index: 1040 !important;
	}

	.modal-content {
		z-index: 1050 !important;
	}

	.modal-dialog {
		z-index: 1060 !important;
	}
</style>

<div class="modal fade" id="editBranchModal-@Model.Id" tabindex="-1" aria-labelledby="editBranchModalLabel-@Model.Id" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="editBranchModalLabel-@Model.Id">
					@if (Model.Id == 0)
					{
						<text>Add New Branch</text>
					}
					else
					{
						<text>Edit Branch - @Model.LocationName</text>
					}
				</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="editBranchForm" method="post" asp-action="@((Model.Id == 0) ? "Add" : "Edit")" asp-route-id="@Model.Id">
					<input type="hidden" name="Id" value="@Model.Id" />


					<div class="mb-3">
						<label for="ZipCode" class="form-label">Location (Zip Code)</label>
						<select id="ZipCode" name="ZipCode" class="select2 form-select form-select-lg" required>
							<option value="" selected="@( Model.Id==0)" disabled>Select a location</option>
							@foreach (var location in ViewBag.Locations)
							{
								<option value="@location.ZipCode" selected="@(location.ZipCode == Model.ZipCode)">
									@location.LocationName
								</option>
							}
						</select>
					</div>


					<div class="mb-3">
						<label for="StreetNo" class="form-label">Street Number</label>
						<input type="number" class="form-control" id="StreetNo" name="StreetNo" value="@Model.StreetNo" required />
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
						<button type="submit" class="btn btn-primary">
							@(Model.Id == 0 ? "Add Branch" : "Save Changes")
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function () {



		$(document).on('shown.bs.modal', '#editBranchModal', function () {
			$('#ZipCode').select2({
				placeholder: "Select a location",
				allowClear: true,
				dropdownParent: $('#editBranchModal-' + @Model.Id)
			}).trigger('change');
		});


		$('#editBranchForm').on('submit', function (e) {
			e.preventDefault();

			var formData = $(this).serialize();

			$.ajax({
				type: 'POST',
				url: $(this).attr('action'),
				data: formData,
				success: function (response) {
					console.log(response);
					console.log(response.branch.id);

					if (response.success) {

						$('#editBranchModal-' + response.id).modal('hide');
						if(response.id!=0)
						{
							$('#branch-' + response.id + ' .location').text(response.branch.zipCode);
						$('#branch-' + response.id + ' .streetNo').text(response.branch.streetNo);
						$('#branch-' + response.id + ' .locName').text(response.branch.locationName + " Branch");
						}
						else
						{
								window.location.reload();

						}

					}
					else {
						alert('Error: ' + response.message);
					}
				},
				error: function () {
					alert('An error occurred while updating the branch.');
				}
			});
		});
	});
</script>

