@model List<StudentExamVM>

<div class="table-responsive">
	<table class="table table-hover table-bordered">
		<thead class="table-light">
			<tr>
				<th>Course</th>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th>Duration (min)</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var exam in Model)
			{
					<tr>
						<td>@exam.CourseName</td>
						<td>@exam.Date?.ToString("yyyy-MM-dd")</td>
						<td>@exam.StartingTime?.ToString("hh\\:mm")</td>
						<td>@exam.EndingTime?.ToString("hh\\:mm")</td>
						<td>@exam.Duration</td>
					</tr>
			}
		</tbody>
	</table>
</div>
